* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  --primary-color: #a43444;
  --secondary-color: #592337;
  --light-color: rgba(220, 104, 60, 0, 2);
  --box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

p,
table,
a,
text-area,
input,
label,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Heebo', sans-serif;
}

h1,
h2 {
  font-family: 'Montserrat', sans-serif;
}

.hero {
  display: flex;
  max-width: 1200px;
  margin: 30px auto;
  padding: 0px 100px;
  justify-content: space-between;
}

.hero-content {
  margin-top: 15px;
}

.hero-content > h1 {
  font-size: 52px;
  font-weight: 700;
}

.hero-content > h2 {
  font-size: 25px;
  font-weight: 700;
}
.hero-content > p {
  font-size: 20px;
}

.hero > div > img {
  width: 275px;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
}

a {
  display: inline-block;
  font-size: 20px;
  color: #fff;
  background-color: var(--primary-color);
  padding: 9px 21px;
  border-radius: 2px;
  margin-top: 45px;
  box-shadow: var(--box-shadow);
  transition: 0.3s ease-in-out;
}

a:hover {
  color: #fff;
  filter: brightness(120%);
}
